
    /* the beg for styling the body */
    
    body{
    
    /* color of the main body background */
    
    background: #FAE5D3;
    
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;      
    
    }
     
   
    .S_button {
      background-color: #dbc2d0; 
      border: 0;
      color: rgb(107, 45, 45);
      padding: 4px 3px;
      transition-duration: 0.3s;
      width: 80px;
      text-decoration: none;
      position: absolute;
      left: 166px;
      top:40px;
      font-size: 15px;
      cursor: pointer;
    }
  
  
    .S_button:hover {
      background-color: #080808; 
      color: white;
    }
  
    .words {
      background-color:  #fcf8fa;
      color: rgb(7, 7, 7);
      opacity: .8;
      background-position: center;
      height: 250px;
      width: 500px;
      margin-right:10%;
      margin-left:0%;
    
      
      
  }
  
    @media only screen and (orientation: landscape) {
  
      
    .S_button {
        background-color: #dbc2d0; 
        border: 0;
        color: rgb(107, 45, 45);
        padding: 4px 3px;
        transition-duration: 0.3s;
        width: 80px;
        text-decoration: none;
        position: absolute;
        left: 636px;
        top:40px;
        font-size: 15px;
        cursor: pointer;
      }
    
    
      .S_button:hover {
        background-color: #080808; 
        color: white;
      }
    
      .words {
        background-color:  #fcf8fa;
        color: rgb(7, 7, 7);
        opacity: .8;
        background-position: center;
        height: 250px;
        width: 500px;
        margin-right:35%;
        margin-left:31%;
      
        
        
    }
    
  }  
    
    
    